<!DOCTYPE html>

{% extends "analiticos/base.html" %}
{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'analiticos//img/principal.jpg' %}" alt="">
        <div class="intro-text rigth-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Fácil de Utilizar</span>
            <span class="section-heading-lower">Modelos M.L.</span>
          </h2>
          <p class="mb-3">Anímate a utilizar la herramienta de reasignación 2.0
          </p>
         
        </div>
      </div>
    </div>
  </section>

{% endblock %}